$background-color: #ddd;
$text-color: #444;

body {
  background: $background-color;
}
#root {
  // display: flex;
  // justify-content: center;
  align-items: center;
  text-align: center;
  color: $text-color;
}

@import "./GeocodeResult.scss";
